*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    padding: 2rem;
    background-color: var(--primary-base) ;
}

body{
    font-size: 3rem;
    padding: 2rem;
    margin-bottom: 10rem;
    background-color:  yellow;
}

.container{
    max-width: 220rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: red;
}


:root{
    --primary-base:green;
    --primary-tint:yellow;
    --primary-shade:red;

    --secondary-base:gray;
    --secondary-tint:lightgray;
    --secondary-shade:lightblue;

    --tertiary-base:blue;
    --tertiary-tint:aqua;
    --tertiary-shade:purple;

    --black:black;
    --white:white;
    --violet:violet;
    --orange:orange;
}
/* ........................................................... */



/* .......................................................... */
h1{
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: 4rem;
    font-weight: 700;
    color: orange;
}

h3{
    font-size: 3rem;
    font-weight: 700;
}

h6{
    font-size: 2rem;
}

p{
    color: black;
}

a{
    font-size: 2rem;
    text-decoration: none;
}

ul{
    font-size: 3rem;
    font-weight: 500;
    padding: 3rem;
    list-style: none;
}

ol{
    font-size: 2rem;
    font-weight: 500;
    padding: 3rem;
}
img{
    width: 3rem;
    margin-bottom: 0.5rem;
}
/* .......................................................... */


/* .............................LEHET-HOMEPAGE............................. */
.calendrier-container{
    margin-bottom: 8rem;
    border: 1rem solid black;
    background-color: white;
}



.table-container{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    border: 1rem solid violet;
    /* background-color: white; */
}

table,caption,tr,td,th{
    height: 10rem;
    border: 0.2rem solid black;
    border-collapse: collapse;
    color: black;
    background-color: blue;
}



form{
    margin-top: 12rem;
    border: 1rem solid violet;
    background-color:orange;
}
.button-div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

button{
    font-size: 2rem;
    font-weight: 700;
    padding:2rem;
    border: none;
    border-radius: 2rem;
}
/* .......................................................... */





/* .............................PAGES1............................. */
.reglement-container{
    margin-bottom: 2rem;
    border: 1rem solid violet;
    background-color:var(--secondary-tint) ; 
}
.preambule{
    border: 1rem solid black;
    background-color: whitesmoke;
}
.div-reglement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64rem;
    margin-bottom: 5rem;
    color: white;
    border: 1rem solid black;
    background-color:var(--tertiary-base) ;
}



/* .............................PAGES2............................. */
.bureau-container{
    margin-top: 12rem;
}
.bureau-grid-container{
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
    color: black;
    border: 1rem solid violet;
    background-color: white;
}
.grid-h2{
    text-align: center;
    color: white;
    background-color: green;
}



/* .............................PAGES3............................. */
.sanctions-container{
    padding: 2rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    border: 1rem solid violet;
    background-color: white;
}



/* .............................PAGES4............................. */
.vopa-container{
    padding: 2rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    border: 1rem solid violet;
    background-color:white;
}



/* .............................PAGES5............................. */
.domaines-container{
    padding: 2rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    border: 1rem solid violet;
    background-color: white;
}
.grid-h1{
    color: white;
    border: 4rem solid violet;
    background-color: black;
}


/* .............................PAGES6............................. */

 











/* ...........................NAVIGATION............................... */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: white;
    background-color: blue;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-div{
    padding: 2rem;
    background-color: red;
}






/* ............................FEATURES.............................. */











/* .......................................................... */
.signatures{
    display: grid;
    justify-items: center;
    margin-top: 12rem;
    margin-bottom: 5rem;
    border: 1rem solid black;
    background-color: white;
}

.lehet-text-div{
    text-align: center;
    color: white;
    background-color: blue;
}

.lehet-text{
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    letter-spacing: 1rem;
    color: white;
    background-color: black;
}



/* ............................................................. */
footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: lightblue;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.foot-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ...................................MEDIA-QUERY................................... */


/* LG - SMALL LAPTOPS: 1024px - 1280px - 1600px */
@media(max-width:100rem)
{
    /* 1600px / 16px=100rem */
    /* 100rem x 16px=1600px */

    html{
        font-size: 56.25%;
        /* 9px /16px=56.25% */
    }

    body{
        background-color: var(--primary-base);
        
    }
}




/* MD - TABLETS: 768px - 1024px */

@media(max-width:75rem)
{
    /* 1200px / 16px=75rem */
    /* 75rem x 16px=1200px */

    html{
        font-size: 50%;
        /* 8px /16px=50% */
    }
        body{
        background-color: var( --primay-tint);
        color: var(--secondary-tint);
        }
}




/* SM - PHONE LANDSCAPE: 576px - 768px */

@media(max-width:50rem)
{
    /* 800px /16px=50rem */
    /* 50rem x 16px=800px */
    html{
        font-size: 43.75%;
        /* 7px /16px=43.75% */
    }
    body{
        /* background-color: var(--primay-shade);
        color: var(--black); */
    }
    
    .features-section-container{
        margin-bottom: 40rem;
    }
    .features-grid-container{
        grid-template-columns: 1fr;
    }

    .cta-card-container{
        padding: 5rem 10rem;
    }
}




    /* XS - PHONE PORTRAINT: < 576px*/
    @media(max-width:25rem)
{
    /*400px / 16px=25rem */
    /* 25rem x 16px=400px */

    html{
        font-size: 31.25%;
        /* 5px /16px=31.25% */
    }
    body{
        /* color: var(--secondary-tint); */
    }
        .navbar-container{
        flex-wrap: wrap;
        }
}



    /* XXS - PHONE PORTRAINT: < 375px*/
@media(max-width:15rem)
{
    /* 240px / 16px=15rem */
    /* 15rem * 16px=240*/

    html{
        font-size:18.75% ;
        /* 3px /16px=18.75% */
    }
    
    body{
        /* background-color: blue;
        color: var(--black); */
    } 
}